In [1]:
import numpy as np, pandas as pd
a = np.arange(5)
pd.DataFrame({"a": a, "b": a**2})

   a   b
0  0   0
1  1   1
2  2   4
3  3   9
4  4  16